*,
*::after,
*::before{
    box-sizing: border-box;
}
    .header-menu-item {
display: inline;
text-transform: uppercase;
vertical-align: middle;
margin-left: 72px;


    }
    .menu-red{
        color: #FF0000;
        text-decoration: none;
    }
.image{
    height: 789px;
    width: 100%;
    left: 0px;
    top: 78px;
    border-radius: 0px;   
}
    .title-text{
        text-transform: uppercase;
        text-align: center;
    }
    .container{
    text-align: center;
    letter-spacing: 2.4px;
    }
.text{
padding-right: 30px;
padding-left: 30px;
font-size: 16;
margin-top: 38px;
}
    .button-get{
        height: 51px;
width: 191px;
left: 544.5px;
top: 557px;
border-radius: 4px;
background-color: #FF0000;
color: #FFFFFF;
text-transform: uppercase;
border-color:#FF0000 ;
margin-top: 66px;
    }
    .footer-text{
        padding-top: 66px;
     text-align:end;
    }
   

    